{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div style="display: flex; margin: 20px; justify-content: center">
    <div>
        <h1 style="width: 200px">Заметки</h1>
        <a href="{% url 'home' %}">Вернуться к категориям</a>
        {% if notes %}
            {% for el in notes %}
            <div style="margin-top: 10px; width: 200px">
                <a style="width: 100%" href="/note/content/{{ el.id }}" class="btn btn-light">
                    {{ el }}
                </a>
            </div>
            {% endfor %}
        {% endif %}
        <form method="post" style="margin-top: 30px">
            {% csrf_token %}
            {{ note_forms.note }}<br>
            {{ note_forms.note_name }}<br>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}